.checkout-content{
    margin-bottom: 30px;
    margin-left: 12px;
    width: 300px;
    height: 233px;
    display: flex;
    flex-direction: row;
}

.checkout-product-description{
    width: 150px;
    height: 233px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.checkout-content-brand{
    width: 150px;
    height: 26px;
    font-weight: 300;
}

.checkout-content-name{
    width: 150px;
    height: 26px;
    font-weight: 300;
}

.checkout-content-price{
    width: 150px;
    height: 26px;
    font-weight: 500;
}

.checkout-product-count{
    width: 25px;
    height: 233px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    margin-right: 8px;
}

.checkout-product-image{
    width: 125px;
    height: 233px;
    display: flex;
    align-items: center;
}
.checkout-product-image img{
    width: 100%;
}